.message-counter {
  display: flex;
  width: fit-content;
  margin: 0 auto 40px;
  padding: 15px 20px;
  background: #079B66;
  border-radius: 10px;
}

.message-counter-group {
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: #fff;
  font-size: 12px;
}

.message-counter-group--offline {
  color: #CACACA;
}

.message-counter-group svg {
  font-size: 16px;
  margin-right: 3px;
}

.message-counter-text {
  margin-left: 3px;
}
